[Desktop Entry]
Name=TFTP Tool 
Comment=测试工具
Type=Application
Path=/APP/wails_tftp
Exec=/APP/wails_tftp/wails_tftp
Icon=/APP/wails_tftp/icon.png
Terminal=false
# 修复24.04图标不显示问题
StartupWMClass=tftp
